{% extends 'site/layout.html.twig' %}

{% block title 'À propos' %}

{% set settings = config.get %}

{% block meta %}
    {% set content = settings.name ~ " est Situé à cocody angré, derrière la CNPS. Spécialisée dans le forage, hydraulique et BTP." %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_intro %}
    {{ parent() }}

    <section class="bc container">
        {{ wo_render_breadcrumbs({
            viewTemplate: 'ui/_breadcrumb.html.twig',
            listClass: 'breadcrumb',
            itemClass: 'breadcrumb-item',
            separator: '>',
            separatorClass: 'fas fa-angle-right'}) }}
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/pages/env/_content.html.twig') }}
{% endblock %}