{% extends 'site/layout.html.twig' %}

{% block title %}
    {{ post.title }} | Actualités {{ parent() }}
{% endblock %}

{% set settings = config.get %}

{% block meta %}
    {% set content = post.content|u.truncate(400)|raw %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_intro %}
    {{ parent() }}

    <section class="bc container">
        {{ wo_render_breadcrumbs({
            viewTemplate: 'ui/_breadcrumb.html.twig',
            listClass: 'breadcrumb',
            itemClass: 'breadcrumb-item',
            separator: '>',
            separatorClass: 'fas fa-angle-right'}) }}
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/blog/show/_content.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ include('ui/_javascripts_cdn.html.twig', {'path': 'https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js'}) }}
{% endblock %}