<div class="row d-flex justify-content-center justify-content-md-start">
    <div class="col-12 col-md-4">
        {{ form_row(form.title) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.advert) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.enabled) }}
    </div>
</div>
<div class="form-row mt-4 image-bulk-container">
    <div class="col-5 col-md-3 col-lg-2">
        <div class="file-field">
            <div class="btn btn-mdb-color btn-md float-left z-depth-0">
                <span>Choisir une image</span>
                <input type="file" name="{{ form.file.vars.full_name }}" class="entity-image" />
            </div>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-2">
        <img src="{{ vich_uploader_asset(entity, 'file') }}" alt="" class="img-fluid img-thumbnail image-view" />
    </div>
</div>

