<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-3">
                <h4 class="h4-responsive font-weight-bold text-dark mb-3">Plus de détails</h4>
                <table class="table table-sm table-bordered table-responsive-sm table-responsive-md">
                    <tbody>
                        <tr>
                            <td class="table-dark text-center font-weight-normal">Surface ou Superficie</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.surface %}
                                    {{ advert.surface }} (m² ou ha)
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                            <td class="table-dark text-center font-weight-normal">Nombre de pièces</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.nombrePiece %}
                                    {{ advert.nombrePiece }}
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                            <td class="table-dark text-center font-weight-normal">Nombre de chambre(s)</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.nombreChambre %}
                                    {{ advert.nombreChambre }}
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="table-dark text-center font-weight-normal">Nombre de salle(s) de bain</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.nombreSalleBain %}
                                    {{ advert.nombreSalleBain }}
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                            <td class="table-dark text-center font-weight-normal">Date de construction</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.dateConstruction %}
                                    {{ advert.dateConstruction }}
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                            <td class="table-dark text-center font-weight-normal">Standing</td>
                            <td class="text-center font-weight-normal">
                                {% if advert.standing %}
                                    {{ advert.standing }} cm3
                                {% else %}
                                    <span class="badge badge-grey">Aucun</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

