<section class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h2-responsive font-weight-bold text-dark mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                Nos services immobiliers: Réalisez vos projets avec confiance
            </h1>
        </div>
        <div class="col-12">
            <p class="mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                Découvrez nos services immobiliers sur mesure. Achats, ventes, investissements : nous sommes là pour concrétiser vos projets. Parcourez nos offres dès maintenant !
            </p>
        </div>
    </div>
    <div class="row app-service">
        <div class="col-12 col-md-4">
            <div class="card mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="card-body text-center p-3">
                    <div class="image mb-2">
                        <img src="{{ asset('assets/images/service/marketing.png') }}" alt="image" class="img-fluid">
                    </div>
                    <h4 class="h4-responsive font-weight-bold text-primary mb-0">Promotion immobilière</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="card mb-4">
                <div class="card-body text-center p-3">
                    <div class="image mb-3">
                        <img src="{{ asset('assets/images/service/location.png') }}" alt="image" class="img-fluid">
                    </div>
                    <h4 class="h4-responsive font-weight-bold text-primary mb-0">Location et Gestion locative</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="card mb-4">
                <div class="card-body text-center p-3">
                    <div class="image mb-3">
                        <img src="{{ asset('assets/images/service/hook.png') }}" alt="image" class="img-fluid">
                    </div>
                    <h4 class="h4-responsive font-weight-bold text-primary mb-0">Construction</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="card-body text-center p-3">
                    <div class="image mb-2">
                        <img src="{{ asset('assets/images/service/home.png') }}" alt="image" class="img-fluid">
                    </div>
                    <h4 class="h4-responsive font-weight-bold text-primary mb-0">Réhabilitation</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="card-body text-center p-3">
                    <div class="image mb-3">
                        <img src="{{ asset('assets/images/service/terrain.png') }}" alt="image" class="img-fluid">
                    </div>
                    <h4 class="h4-responsive font-weight-bold text-primary mb-0">Vente de terrain</h4>
                </div>
            </div>
        </div>
    </div>
</section>
