<div class="section card mb-3">
    <div class="card-body">
        <div class="form-row">
            <div class="col-12">
                <h5 class="h5-responsive font-weight-stone-500 text-dark">Blog</h5>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center justify-content-md-start parent-data">
            <div class="col-12">
                <div class="my-2 title">{{ form.activeBlog.vars.label }}</div>
                {% for item in form.activeBlog.vars.choices %}
                    {% set state = (entity.activeBlog == form.activeBlog.vars.choices[loop.index0].value) %}
                    <div class="form-check form-check-inline data {% if state %}active{% endif %}">
                        <input class="form-check-input with-gap" value="{{ form.activeBlog.vars.choices[loop.index0].value }}" type="radio"
                               name="{{ form.activeBlog.vars.full_name }}" id="{{ form.activeBlog.vars.id }}_{{ loop.index0 }}"
                               {% if state %}checked{% endif %} />
                        <label class="form-check-label" for="{{ form.activeBlog.vars.id }}_{{ loop.index0 }}">{{ form.activeBlog.vars.choices[loop.index0].label }}</label>
                    </div>
                {% endfor %}
                <div class="red-text font-weight-stone-500 mt-2">{{ form_errors(form.activeBlog) }}</div>
            </div>
        </div>
    </div>
</div>

<div class="section card mb-3">
    <div class="card-body">
        <div class="form-row">
            <div class="col-12">
                <h5 class="h5-responsive font-weight-stone-500 text-dark">Reference</h5>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center justify-content-md-start parent-data">
            <div class="col-12">
                <div class="my-2 title">{{ form.activeReference.vars.label }}</div>
                {% for item in form.activeReference.vars.choices %}
                    {% set state = (entity.activeReference == form.activeReference.vars.choices[loop.index0].value) %}
                    <div class="form-check form-check-inline data {% if state %}active{% endif %}">
                        <input class="form-check-input with-gap" value="{{ form.activeReference.vars.choices[loop.index0].value }}" type="radio"
                               name="{{ form.activeReference.vars.full_name }}" id="{{ form.activeReference.vars.id }}_{{ loop.index0 }}"
                               {% if state %}checked{% endif %} />
                        <label class="form-check-label" for="{{ form.activeReference.vars.id }}_{{ loop.index0 }}">{{ form.activeReference.vars.choices[loop.index0].label }}</label>
                    </div>
                {% endfor %}
                <div class="red-text font-weight-stone-500 mt-2">{{ form_errors(form.activeReference) }}</div>
            </div>
        </div>
    </div>
</div>

