{% set image_state = vich_uploader_asset(post, 'file') %}

<section class="container mt-4 mb-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
            <div class="card">
                <div class="view overlay">
                    {% if image_state %}
                        <img src="{{ post|image_url('blog') }}" class="card-img-top" alt="Post image" />
                    {% else %}
                        <img src="{{ asset('assets/images/no_image.png')|imagine_filter('blog') }}" class="card-img-top" alt="Post image" />
                    {% endif %}
                    <a><div class="mask rgba-black-slight"></div></a>
                </div>
                <div class="card-body p-3">
                    <h3 class="h3-responsive my-2"><strong class="font-weight-bold text-dark">{{ post.title }}</strong></h3>
                    <div class="d-flex justify-content-start my-3">
                        <div class="date small-9">
                            <i class="fas fa-calendar-day text-secondary mr-1" style="position: relative; bottom: 2px;"></i>
                            {{ post.createdAt|format_datetime(pattern="dd MMM yyyy") }}
                        </div>
                        {% if post.category|length > 0 %}
                            <div class="category small-9 ml-4">
                                <i class="fas fa-folder text-secondary mr-1"></i>
                                <a href="{{ path('app_blog_category', {'slug': post.category.slug}) }}" class="link">{{ post.category.name }}</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-dark mt-4">{{ post.content|raw }}</div>
                </div>
            </div>
        </div>
        <section class="col-12 col-md-4 col-lg-3">
            {{ include('site/layout/_post_share.html.twig') }}

            {{ render(controller('App\\Controller\\BlogController::last')) }}

            {{ render(controller('App\\Controller\\BlogController::categories')) }}
        </section>
    </div>
</section>

